@model RegisterViewModel 

<form asp-action="Register" method="post" class="maxWidth form-container">

    <div class="p-1 form">
        <div class="form-heading">
            <h1>Регистрация</h1>
        </div>

        <hr />

        <div class="form-main maxWidth p-1">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-main maxWidth p-1">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-main maxWidth p-1">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-main maxWidth p-1">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="maxWidth">Регистрация</button>
    </div>

</form>